body {
    background-color: #E8E8E8;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

.row > div {
    margin: 10px 0;
    border:1px solid black;
    background-color: white;
}

.container {
	margin: 20px;
	background-color: #E8E8E8;
}