body {
    background-color: rgb(254, 254, 254);
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

.presentation {
    border: 1px solid red;
}

.information {
    border: 1px solid blue;
}

.row > div {
    margin: 10px 0;
}