body {
    background-color: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

h3 {
	margin-top: 10px;
    padding-bottom: 20px;
}

.h6style {
    color: #ad83b9a6;
}

.worktitlestyle {
    font-style: italic;
}

.row > div {
    padding: 20px;
    background-color: white;
}

.row > div:nth-child(even) {
    border-left: 1px solid rgb(238, 238, 238);
    border-top: 1px solid rgb(238, 238, 238);
}

.row > div:nth-child(odd) {
    background-color: #ad83b9;
    color: black;
}

#contactInformation {
    background-color: #9156a2;
    color: #cd9adb;
    margin: 0 -20px -20px -20px;
    padding: 20px;
    padding-bottom: 60px;
}

.presentation {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.presentation img {
    padding-top: 20px;
}

#contactInformation h3 {
    color: #5e1573;
}

#mail a, #phone a {
    margin-left: 10px;
    color: #e7c5ea;
}


#title.text-muted {
	color: #e7cfff !important;
}

.container {
    margin: 20px auto;
	background-color: #E8E8E8;
}

#lang ul {
    list-style-type: none;
    padding: 0;
}

#links div {
    border-top: none;
}

#links div a {
    margin-right: 5px;
}

.btn {
    border-color: #e7cfff;
    color: #e7cfff;
}

.btn:hover {
    border-color: #e7cfff;
    background-color: #e7cfff;
    color: #ad83b9;
}